<div ng-controller="app.views.home as vm">
    <h1>@L("WellcomeMessage")</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Room</h3>
                </div>
                <div class="panel-body">
                    <label>Name:</label>
                    <input type="text" class="form-control" ng-model="vm.uiRoomName" />
                    <label>Number Of People:</label>
                    <input type="text" class="form-control" ng-model="vm.uiNumberOfPeople" />
                    <button class="btn btn-primary btn-sm" style="float:right; margin-top:10px;" ng-click="vm.registerClick()">Register</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Room List</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Room</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="room in vm.rooms">
                                <td>{{room.name}}</td>
                                <td>{{room.numberOfPeople}}</td>
                                <td><button class="btn btn-sm btn-danger" 
                                            ng-click="vm.deleteRoom(room.id)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
    </div>
</div>